.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  position: relative;
  width: 100%; /* Ocupa el espacio que le de el padre (.solutions) */
  height: auto;
  overflow: hidden;
  border-radius: 10px; /* Opcional: estética */
}

.carousel img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain; /* Asegura que la imagen se vea completa */
}

.carousel img.active {
  opacity: 1;
  position: relative; /* Mantiene la altura del contenedor */
  z-index: 1;
}